/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
    /*z-index: 0;*/
    background-color: rgb(47, 47, 47);
	line-height: 1.4;
    font-family: 'Orelega One', 'Times New Roman', Times, serif;
    color: white;
}
ol, ul{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
The following part has been added by myself 
*/
header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    height: 4em;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-wrap: wrap;
    align-items: inherit;
    justify-content: center;
    transition: all 0.25s ease-in;
}

header > a > div{
    display: inline;
    text-align: center;
    font-size: 2.5em;
    padding: 0px 0.5em;
    border-right: 2px solid black;
    transition: font-size 0.25s ease-in;
}
header > a:last-child > div{
    border-right: none;
}
header > a:hover > div{
    border: none;
}

header > a:hover{
    transition: font-size 0.2s ease-in-out;
    font-size: 1.35em;
    background-color: goldenrod;
}
a{
    text-decoration: none;
    color: white;
}

h1{
    padding-left: 1.1em;
    font-size: 4em;
}
h1 .surligne{
    display: inline-block;
    background-size: 100% 0.2em;
    background-position: 0.3em 88%;
    background-image: linear-gradient(rgba(218, 165, 32, 0.5) 0%, rgba(218, 165, 32, 0.5) 100%);
    background-repeat: no-repeat;
    transition: all 0.25s ease-in;
}


.onglet{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    margin-left: 7em;
    margin-right: 7em;
}

.alligne{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
}
.alligne iframe{
    padding: 0px 3em 0px 3em;
}
.alligne iframe+div{
    padding: 0px 3em 0px 3em;
}

.anchor{
    scroll-margin-top: 1em;
}

p{
    font-size: 1.4em;
    font-weight: normal;
}
p:first-child{
    margin-bottom: 1.2em;
}
p+p{
    margin-bottom: 1.2em;
}

#map{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 77vh;
}
#map + p{
    font-size: 2em;
}

#map + p#centrer{
    padding-top: 3px;
}

#map + p#centrer span{
    background-color: goldenrod;
    cursor: pointer;
    border: 2px solid goldenrod;
    padding: 3px;
    border-radius: 10px;
}


#adresse p{
    margin-bottom: 0;
    margin-left: 1em;
}

#mailbox:hover{
    cursor: pointer;
}
#mailbox p#mail{
    text-align: center;
    color: goldenrod;
}
#mailbox p#mail::after{
    content: 'Copier notre adresse mail';
}
#mailbox:hover p#mail::after{
    content: 'lesjosettes.besancon@gmail.com';
}

footer{
    height: 60px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5em;
}
footer a{
    text-decoration: underline;
}

@media only screen and (max-width: 1227px){
    header{
        height: 3.1em;
        transition: all 0.25s ease-in;
    }
    header > a > div{
        font-size: 1.95em;
        transition: all 0.25s ease-in;
    }
    .anchor{
        scroll-margin-top: 0.675em;
    }
}
@media only screen and (max-width: 900px){
    a:nth-child(4n){
        text-align: center;
        width: 100%;
    }    
    header{
        height: 6em;
        transition: all 0.25s ease-in;
    }
    header > a > div{
        font-size: 1.7em;
        transition: all 0.25s ease-in;
    }    
    .anchor{
        scroll-margin-top: 1.5em;
    }
    .alligne iframe{
        padding: 0px;
    }    
}
@media only screen and (max-width: 650px){
    h1{
        font-size: 2.7em;
    } 
    p{
        font-size: 1.2em;
        text-align: justify;
    }
    header{
        height: 4.5em;
    }
    header > a > div{
        font-size: 1.2em;
    }    
    .anchor{
        scroll-margin-top: 1.5em;
    }
    .alligne iframe+div{
        padding: 0px 1.1em 0px 1.1em;
    }
    .onglet{
        margin-top: 1.2em;
        margin-bottom: 1.2em;
        margin-left: 5em;
        margin-right: 5em;
    }
    #map + p{
        font-size: 1.2em;
    }
}